#vertical-navbar-push {
    position: relative;
    right: 0 !important;
    left: unset !important;
    transition: all 400ms ease-in-out !important;
    overflow: hidden;
    max-width: 100%;
}

header#masthead.header-style-vertical #vertical-header-wrap {
    transition: all 400ms ease-in-out !important;
    z-index: 9999;
    display: none;
}

body.admin-bar header#masthead.header-style-vertical #vertical-header-wrap {
    top: 32px !important;
}

#vertical-menu-toggle {
    margin: 10px 0 0 11px !important;
}

span#vertical-menu-toggle-wrap {
    position: absolute;
    left: calc(100% + 15px);
    top: 15px;
    background: #141414;
    z-index: 999999; 
    display: inline-block;
    cursor: pointer;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
}

#vertical-navbar-push.expanded {
    max-width: calc(100% - 280px);
    margin-left: 280px;
}

@media (max-width:1449px) {

    #vertical-navbar-push.expanded .container {
        width: 100%;
        max-width: calc(1170px - 280px);
    }
    
}

@media (min-width:1450px) {
    #vertical-navbar-push.expanded .container {
        max-width: 1170px;
    }
}

@media (max-width:991px) {
    header#masthead.header-style-vertical #vertical-header-wrap {
        display: none !important;
    }
    #vertical-navbar-push {
        max-width: 100% !important;
        margin-left: 0px !important;
    }
}

header#masthead.header-style-vertical #slim-header-wrap {
    top: 0 !important;
}

/* Branding */

header#masthead.header-style-vertical div#vertical-header-wrap #custom-logo-wrap {
    padding: 0;
}

header#masthead.header-style-vertical div#vertical-header-wrap #custom-logo-wrap img.custom-logo {
    opacity: 1 !important;
    padding: 0;
}

/* Menu */

#vertical-header-wrap ul.vertical-header-menu,
#vertical-header-wrap ul#mobile-menu {
    list-style: none;
    margin: 0;
    padding: 0 15px;
}

#vertical-header-menu-wrap {
    margin-top: 15px;
    padding: 30px 15px;
    border-top: thin solid;
}

#vertical-header-menu-wrap ul#vertical-header-primary {
    padding: 0;
}

#vertical-header-wrap ul.vertical-header-menu > li:before,
#vertical-header-wrap ul#mobile-menu:before {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:  all 0.5s ease-in-out;
    -o-transition:  all 0.5s ease-in-out;
    transition:  all 0.5s ease-in-out;
}


#vertical-header-wrap ul#mobile-menu > li a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition:  all 0.2s ease-in-out;
    -o-transition:  all 0.2s ease-in-out;
    transition:  all 0.2s ease-in-out;
}

#vertical-header-wrap ul.vertical-header-menu ul.sub-menu {
    list-style: none;
    margin: 0;
    padding-left: 15px;
    position: relative;
    display: none;
}

#vertical-header-wrap ul.vertical-header-menu > li:hover ul.sub-menu > li {
    line-height: 1.25em;
}

#vertical-header-wrap ul.vertical-header-menu li {
    padding-top: 8px;
    padding-bottom: 8px;
} 

#vertical-header-wrap ul.vertical-header-menu ul.sub-menu > li:first-child {
    padding-top: 16px;
}

#vertical-header-wrap ul.vertical-header-menu > li {
    line-height: 1.25em;
    padding-left: 15px;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition:  all 0.2s ease-in;
    -o-transition:  all 0.2s ease-in;
    transition:  all 0.2s ease-in;
}

#vertical-header-wrap ul.vertical-header-menu li.menu-item-has-children > span {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:  all 0.5s ease-in-out;
    -o-transition:  all 0.5s ease-in-out;
    transition:  all 0.5s ease-in-out;
    font-family: Helvetica, sans-serif !important;
    display: inline-block;
    cursor: pointer;
    vertical-align: text-top;
    font-size: 1.24em;
}

#vertical-header-wrap ul.vertical-header-menu > li:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    visibility: hidden;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

#vertical-header-wrap ul.vertical-header-menu > li:hover:before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* Social */

header#masthead.header-style-vertical .navbar-social {
    text-align: center;
}

/* Sidebar Footer */
div#vertical-header-wrap #footer-branding-wrap {
    text-align: center;
    padding: 45px 15px 15px 15px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

div#footer-branding-wrap .site-title {
    margin-top: 0;
}

div#vertical-header-wrap #footer-branding-wrap span.buildr_by {
    vertical-align: middle;
}

div#vertical-header-wrap #footer-branding-wrap img.custom-logo.alternate {
    padding: 0;
    margin-bottom: 15px;
}

body.admin-bar div#vertical-header-wrap #footer-branding-wrap {
    bottom: 32px;
}

div#vertical-header-wrap #footer-branding-wrap svg {
    width: 65px;
    margin-bottom: -3px;
    margin-left: 2px;
}

span#vertical-menu-toggle-wrap #vertical-menu-toggle .bar.animate {
    background: rgba(0,0,0,0.0);
}

@media (min-width:992px) {
    header#masthead.header-style-vertical #slim-header-wrap {
        display: none;
    }
}

header#masthead.header-style-vertical #slim-header-wrap .navbar-social {
    margin-top: 15px;
}

div#vertical-header-wrap #footer-branding-wrap img.custom-logo.alternate {
    opacity: 1 !important;
}

header#masthead.header-style-vertical #vertical-header-wrap.always-visible {
    left: 0 !important;
}

/* -----------------------------------------------------------------------------
 * Hamburger Menu - Cross Animation
 * -------------------------------------------------------------------------- */
#mobile-menu-trigger,
#vertical-menu-toggle {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px auto 0;
    width: 18px;
    height: 33px;
    cursor: pointer;
    padding-bottom: 15px;
}

#mobile-menu-trigger .bar,
#mobile-menu-trigger .bar:after,
#mobile-menu-trigger .bar:before,
#vertical-menu-toggle .bar,
#vertical-menu-toggle .bar:after,
#vertical-menu-toggle .bar:before {
    width: 18px;
    height: 2px;
}

#mobile-menu-trigger .bar,
#vertical-menu-toggle .bar {
    position: relative;
    transform: translateY(9px);
    background: white;
    transition: all 0ms 300ms;
}
#mobile-menu-trigger .bar.animate,
#vertical-menu-toggle .bar.animate {
    background: rgba(255, 255, 255, 0);
}

#mobile-menu-trigger .bar:before,
#vertical-menu-toggle .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    background: white;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#mobile-menu-trigger .bar:after,
#vertical-menu-toggle .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    background: white;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#mobile-menu-trigger .bar.animate:after,
#vertical-menu-toggle .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#mobile-menu-trigger .bar.animate:before,
#vertical-menu-toggle .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
